.Heading_div img{
    width:100px;
}
body{
    font-family: 'Special Elite', cursive;
    background-color: #f5dbda;
    
}
.Heading_div {
    color:red;
    background-color: white;
    margin-top: 0px;
}
.main_div{
    border: 10px solid white;
    padding: 10px;
    margin-top: 15px;
}
.main_div label{
    width: 300px;
    background-color: white;
    padding: 10px;
    margin-bottom: 0px;
}
#camera,#result{
    width: 300px;
    height: 350px;
    border: 2px solid white;
}
.main_div button{
    width: 300px;
    font-size: 15px;
    border: 1px solid white;
}
.footer_div h4{
    background-color: white;
    border-radius:10px ;
    padding: 5px;
}
.footer_div img{
    width: 70px;
}
.footer_div{
    margin-bottom: 50px;
}
.copyright_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    line-height: 1.3;
    font-size: 20px;

}